body {
    color: rgba(255, 247, 247, 0.88) !important;
    background: #0d0119 url("http://i.imgur.com/OcFygJu.jpg") left 0 no-repeat !important;
    max-width: 100vw;

    position: absolute;
    overflow-y: scroll;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

.inline-flex-parent {
    display: inline-flex;
}
.parent {
    padding: 1rem
}
.child {
    padding: 1rem
}

.free-footer{
    position: absolute;
    bottom: 0;
    left: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}


.hotsButton {
    margin: 3px;
    padding: 6px 12px !important;
    border: 1px solid #9393f5;
    color: #fff !important;
    font-size: .9em;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 11px #1616cf;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #412374, rgba(19, 4, 41, 0.9), #412374);
    border-radius: 3px !important;
}

.hotsButton:active {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #412364, rgba(29, 14, 41, 0.9), #311364);
}

.hotsInput {
    background-color: transparent !important;
    color: white !important;
}

.hotsInput:hover {
    border: 1px solid #7c7ff5 !important;
}

.hotsInput:focus {
    border: 1px solid #7c7ff5 !important;
    box-shadow: 0 0 10px 2px rgb(69, 56, 255) !important;
}

.hotsAvatar {
    background: rgba(0, 0, 0, 0) !important;
    color: rgba(255, 247, 247, 0.88) !important;
    cursor: pointer !important;
}

.hotsAvatar:active {
    color: rgba(240, 232, 232, 0.88) !important;
}

.appMenu {
    background: rgba(26, 21, 55, 0.5) !important;
}

.ant-layout-sider-trigger {
    background: rgba(26, 21, 55, 0) !important;
}

.ant-carousel .slick-slide {
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

html body div#app div div div.ant-layout.ant-layout-has-sider {
    flex-direction: row !important;
    flex: 0 !important;
    background: rgba(0, 0, 0, 0) !important;
}

#no-scroll::-webkit-scrollbar {
    display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(169, 169, 169);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(169, 169, 169);
}

.rightHalfOfList .ant-row {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-end !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.rightHalfOfList .ant-avatar-image {
    float: right;
}

.leftHalfOfList .ant-row {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.simpleList:hover {
    box-shadow: 0 0 15px 2px rgb(69, 56, 255);
    background-color: rgba(69, 56, 255, 0.5);
}

.simpleList {
    cursor: pointer
}

.ant-popover-inner {
    background-color: rgba(0, 0, 0, 0.65) !important;
}

.ant-popover-title, .ant-popover-inner-content {
    color: rgba(240, 232, 232, 0.88) !important;
}

.price-gold::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("/gold.png");
    margin-right: 10px;
    margin-bottom: 4px;
}

.price-gems::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("/gem.png");
    margin-right: 10px;
    margin-bottom: 4px;
}

.price-gold, .price-gems {
    font-size: 16px;
}

.ant-switch-checked::after {
    background-color: rgba(240, 232, 232, 0.88) !important;
}

.ant-tabs-nav {
    color: rgba(240, 232, 232, 0.88) !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: rgba(69, 56, 255, 0.5);
}

.ant-tabs {
    color: rgba(240, 232, 232, 0.88) !important;
}

.ant-table-body {
    color: rgba(240, 232, 232, 0.88) !important;
}

.ant-table-thead > tr > th {
    background: transparent !important;
    color: rgb(24, 144, 255) !important;
}

.ant-table-tbody > tr:hover > td {
    background-color: rgba(69, 56, 255, 0.5) !important;
}

.ant-tabs-bar {
    margin: 0 !important;
}

.overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.5) 100%);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding-top: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    bottom: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.similarImage {
    display: flex;
    justify-content: center;
}

.similarImage:hover .overlay {
    opacity: 1;
}

.ant-select-selection {
    color: rgba(240, 232, 232, 0.88) !important;
    background-color: transparent !important;
    height: 40px !important;
    box-shadow: 0 0 15px 2px rgb(69, 56, 255);
    border: 2px solid rgba(69, 56, 255, 0.5) !important;
}

.ant-select-dropdown-menu-item:hover {
    box-shadow: 0 0 15px 2px rgb(69, 56, 255);
    background-color: rgba(69, 56, 255, 0.5) !important;
}

.ant-select-arrow {
    color: rgba(240, 232, 232, 0.88) !important;
}

.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover {
    box-shadow: 0 0 15px 2px rgb(69, 56, 255);
    background-color: rgba(69, 56, 255, 0.5) !important;
}

.ant-collapse, .ant-collapse-content, .ant-collapse-content-active {
    background: rgba(26, 21, 55, 0.5) !important;
}

.ant-collapse * {
    color: rgba(240, 232, 232, 0.88) !important;
}

.ant-collapse * button {
    margin: 3px;
    padding: 6px 12px !important;
    border: 1px solid #9393f5;
    color: #fff !important;
    font-size: .9em;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 11px #1616cf;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #412374, rgba(19, 4, 41, 0.9), #412374);
    border-radius: 3px !important;
}

ul {
    list-style: none;
    margin: 200px;
    padding: 0;
    display: block;
}
li {
    float: left;
}


